<!doctype html>

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}
        {% block messages %}
            {% if app.session.getFlash('pages') %}
                <p>{{ app.session.getFlash('pages') }}</p>
            {% endif %}
        {% endblock %}

        {% block actions %}

        {% endblock %}
        
        {% block content %}{% endblock %}
    {% endblock %}
</body>

</html>
